<div class="min-h-screen text-black p-4">
  <div class="container mx-auto rounded-lg shadow-lg p-6">
    <h2 class="text-3xl font-extrabold mb-6">ชำระเงิน</h2>
    <div *ngIf="order">
      <div class="p-4 rounded-lg shadow-md bg-white">
        <h3 class="text-xl font-semibold mb-2">ข้อมูลคำสั่งซื้อ</h3>
        <p>หมายเลขคำสั่งซื้อ: {{ order.orderId }}</p>
        <p>หมายเลขผู้ใช้: {{ order.userDetailId }}</p>
        <p>ยอดรวม: {{ order.totalAmount | currency:'THB' }}</p>
      </div>

      <div class="text-center mt-6">
        <h3 class="text-xl font-semibold mb-2">ชำระเงินผ่าน PromptPay</h3>
        <div *ngIf="qrcodelink">
          <!-- ปรับขนาดของ QR Code ที่นี่ -->
          <img [src]="qrcodelink" alt="QR Code" class="w-48 h-48 mx-auto" />
          <p>โปรดสแกน QR Code เพื่อชำระเงิน</p>
        </div>
      </div>

      <div class="mt-6">
        <h3 class="text-xl font-semibold mb-2">อัปโหลดหลักฐานการชำระเงิน</h3>
        <input type="file" (change)="onFileChanged($event)" multiple>
      </div>

      <div class="mt-4 grid grid-cols-2 gap-4">
        <div *ngFor="let img of ImageList">
          <img [src]="img.value" alt="Uploaded Image" class="w-32 h-32 object-cover"/>
          <button (click)="onDeleteFileChanged(img.key)" class="text-red-500 mt-2">ลบ</button>
        </div>
      </div>

      <div class="text-center mt-6">
        <button (click)="confirmPayment()" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded">
          ยืนยันการชำระเงิน
        </button>
      </div>

    </div>
  </div>
</div>
