<div class="min-h-screen bg-black bg-opacity-50 backdrop-filter backdrop-blur-lg text-white p-4">
  <div class="container mx-auto bg-black bg-opacity-70 rounded-lg shadow-lg p-6">
    <h2 class="text-3xl font-extrabold mb-6">Shopping Cart</h2>
    <div *ngIf="cart.length === 0" class="text-center">
      <p class="text-lg">Your cart is empty.</p>
    </div>
    <div *ngIf="cart.length > 0" class="grid grid-cols-1 gap-6">
      <div *ngFor="let item of cart" class="bg-gray-800 rounded-lg shadow-md p-4 flex items-center relative">
        <img [src]="item.imgList.length > 0 ? item.imgList[0].value : 'assets/default-image.jpg'" alt="product" class="w-24 h-24 object-cover rounded-lg" />
        <div class="flex-1 ml-4 grid grid-cols-6 gap-4 items-center">
          <div class="col-span-2">
            <h3 class="text-2xl font-semibold text-white">{{ item.productName }}</h3>
            <p class="text-gray-300">{{ item.productDesc }}</p>
          </div>
          <div>
            <p class="text-gray-300">Price: {{ item.productPrice | currency }}</p>
          </div>
          <div class="flex items-center">
            <button (click)="updateQuantity(item, -1)" class="btn btn-secondary">-</button>
            <p class="mx-2 text-gray-300">{{ item.quantity }}</p>
            <button (click)="updateQuantity(item, 1)" class="btn btn-secondary">+</button>
          </div>
          <div>
            <p class="text-gray-300">Total: {{ (item.productPrice * item.quantity) | currency }}</p>
          </div>
          <div>
            <button (click)="confirmRemove(item)" class="btn btn-error">Remove</button>
          </div>
        </div>
        <!-- Confirmation Dialog -->
        <div *ngIf="itemToRemove === item" class="absolute inset-0 bg-black bg-opacity-75 flex items-center justify-center transition-opacity duration-300">
          <div class="bg-gray-800 p-4 rounded-lg text-center">
            <p class="text-lg mb-4">คุณต้องการลบสินค้าหรือไม่?</p>
            <button (click)="removeFromCartConfirmed()" class="btn btn-error mx-2">ตกลง</button>
            <button (click)="cancelRemove()" class="btn btn-secondary mx-2">ยกเลิก</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cart.length > 0" class="mt-6 flex justify-end">
      <button class="btn btn-primary" (click)="checkout()">Checkout</button>
    </div>
  </div>
</div>
