<div class="min-h-screen bg-black bg-opacity-50 backdrop-filter backdrop-blur-lg text-white p-4">
  <div class="container mx-auto bg-black bg-opacity-70 rounded-lg shadow-lg p-6">
    <h2 class="text-3xl font-extrabold mb-6">Order Summary</h2>
    <div class="mb-4">
      <h3 class="text-xl font-semibold">User Information</h3>
      <p>Name: {{ userDetail.userName }}</p>
      <p>Email: {{ userDetail.email }}</p>
      <p>Phone: {{ userDetail.phone }}</p>
      <p>Line: {{ userDetail.line }}</p>
    </div>
    <div class="mb-4">
      <h3 class="text-xl font-semibold">Payment Method</h3>
      <div>
        <label>
          <input type="radio" name="paymentMethod" value="1" [(ngModel)]="selectedPaymentMethod" > Credit Card
        </label>
      </div>
      <!-- เพิ่มปุ่มเพื่อไปยังหน้า Payment -->
      <button class="bg-green-500 text-white px-4 py-2 rounded-md mt-4" (click)="placeOrder()">Proceed to Payment</button>

    </div>
    <div class="mb-6">
      <h3 class="text-xl font-semibold">Cart Items</h3>
      <div *ngFor="let item of cart" class="bg-gray-800 rounded-lg shadow-md p-4 mb-4 flex items-center">
        <img [src]="item.imgList.length > 0 ? item.imgList[0].value : 'assets/default-image.jpg'" alt="product" class="w-24 h-24 object-cover rounded-lg" />
        <div class="flex-1 ml-4">
          <h3 class="text-2xl font-semibold">{{ item.productName }}</h3>
          <p>{{ item.productDesc }}</p>
          <p>Price: {{ item.productPrice | currency }}</p>
          <p>Quantity: {{ item.quantity }}</p>
          <p>Total: {{ (item.productPrice * item.quantity) | currency }}</p>
        </div>
      </div>
    </div>
    <div class="flex justify-end">
      <button class="btn btn-primary" (click)="placeOrder()">Place Order</button>
    </div>
  </div>
</div>
