<form class="gradient-custom" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-14 col-md-10 col-lg-8 col-xl-7">
        <div class="card bg-gradient-to-b from-blue-300 to-pink-300 backdrop-blur-sm text-white shadow-lg" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase text-4xl">สมัครสมาชิก</h2>
              <p class="text-black mb-5 text-center">กรุณากรอกข้อมูลของคุณ!</p>

              <div class="grid grid-cols-1 gap-4 mx-auto w-3/4">
                <div>
                  <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input formControlName="userName" type="text" id="typeUsernameX" class="form-control form-control-lg" placeholder="ชื่อผู้ใช้" />
                    <label class="form-label" for="typeUsernameX"></label>
                  </div>

                  <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input formControlName="firstName" type="text" id="typeFirstNameX" class="form-control form-control-lg" placeholder="ชื่อ" />
                    <label class="form-label" for="typeFirstNameX"></label>
                  </div>

                  <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input formControlName="lastName" type="text" id="typeLastNameX" class="form-control form-control-lg" placeholder="นามสกุล" />
                    <label class="form-label" for="typeLastNameX"></label>
                  </div>

                  <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input formControlName="email" type="text" id="typeEmailX" class="form-control form-control-lg" placeholder="อีเมล" />
                    <label class="form-label" for="typeEmailX"></label>
                  </div>

                  <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input formControlName="userPassword" type="password" id="typePasswordA" class="form-control form-control-lg" placeholder="รหัสผ่าน" />
                    <label class="form-label" for="typePasswordA"></label>
                  </div>

                  <div data-mdb-input-init class="form-outline form-white mb-4">
                    <input formControlName="confirmPassword" type="password" id="typeRepeatPasswordA" class="form-control form-control-lg" placeholder="ยืนยันรหัสผ่าน" />
                    <label class="form-label" for="typeRepeatPasswordA"></label>
                  </div>
                </div>
              </div>

              <div class="text-center mt-4">
                <p *ngIf="isPassword" class="text-red-500">กรุณากรอก รหัสผ่าน ให้ตรงกันด้วยค่ะ</p>
              </div>

              <div class="text-center mt-4">
                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">บันทึก</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
