<form class="gradient-custom" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-gradient-to-b from-blue-300 to-pink-300 backdrop-blur-sm text-white shadow-lg" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h1 class="fw-bold mb-2 text-uppercase text-4xl">เข้าสู่ระบบ</h1>
              <p class="text-black mb-5">โปรดกรอกชื่อผู้ใช้และรหัสผ่านของคุณ!</p>

              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typeUsernameX"></label>
                <input formControlName="userName" type="text" id="typeUsernameX" class="form-control form-control-lg" placeholder="Username"/>
              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typePasswordX"></label>
                <input formControlName="userPassword" type="password" id="typePasswordX" class="form-control form-control-lg" placeholder="Password"/>
              </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">เข้าสู่ระบบ</button>

            </div>

            <div>
              <p class="text-black mb-5">หากยังไม่มีบัญชี สมัครเลย!<a routerLink="/register" class="text-red-500 fw-bold">สมัครสมาชิก</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
